/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1550px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1549.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1550px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  height: 42px;
  outline: none;
  color: #9E9E9E;
  background: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 9px 15px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #C4E0F9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_control::-moz-placeholder {
  color: #9E9E9E;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #9E9E9E;
}
.form_control::-webkit-input-placeholder {
  color: #9E9E9E;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}
.form_control_blue {
  background: #EFF7FF;
}
.form_control_sm {
  color: #000;
  padding: 8px 10px;
  border: 1px solid #DFE6EE;
}
.form_control_sm::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form_control_sm:-ms-input-placeholder {
  color: #000;
}
.form_control_sm::-webkit-input-placeholder {
  color: #000;
}
.form_control_sm:focus::-moz-placeholder, .form_control_sm:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control_sm:focus:-ms-input-placeholder, .form_control_sm:active:-ms-input-placeholder {
  color: transparent;
}
.form_control_sm:focus::-webkit-input-placeholder, .form_control_sm:active::-webkit-input-placeholder {
  color: transparent;
}
.form_control_lg {
  height: 56px;
  padding: 16px 15px;
}

textarea.form_control {
  height: auto;
}

.form_label {
  color: #000;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.form_select {
  color: #A1BBE6;
  cursor: pointer;
  padding-right: 45px;
  -webkit-appearance: none;
  background: transparent url("../img/icon__select_two.png") 100% 50% no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.form_select::-ms-expand {
  display: none;
}

.input_wrap {
  max-width: 480px;
}

.form_divider {
  padding-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #CDEDFF;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 16px 30px 18px 30px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background: #27B1FF;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  border-radius: 27px;
}
.btn:hover {
  color: #fff;
  background: #0060aa;
  text-decoration: none;
}
.btn:active {
  background: #27B1FF;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_shadow {
  -webkit-box-shadow: 0px 18px 27px rgba(13, 96, 165, 0.25);
  box-shadow: 0px 18px 27px rgba(13, 96, 165, 0.25);
}

.btn_light_blue {
  background: #34CDFA;
  -webkit-box-shadow: 0px 36px 115px rgba(26, 128, 189, 0.4);
  box-shadow: 0px 36px 115px rgba(26, 128, 189, 0.4);
}
.btn_light_blue:hover {
  background: #27B1FF;
}

.btn_border {
  color: #27B1FF;
  background: transparent;
  padding: 15px 30px 17px 30px;
  border: 1px solid #27B1FF;
}
.btn_border:hover {
  color: #fff;
  background: #27B1FF;
}
.btn_border:hover i {
  fill: #fff;
}
.btn_border i {
  fill: #27B1FF;
}

.btn_pdf {
  font-weight: 500;
  padding-right: 70px;
  text-transform: uppercase;
}
.btn_pdf i {
  top: 50%;
  right: 19px;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  display: inline-block;
  position: absolute;
}

.btn_lg {
  max-width: 480px;
}
@media (min-width: 768px) {
  .btn_lg {
    width: 480px;
  }
}

.btn_long {
  width: 100%;
  padding: 24px 30px 26px 30px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
}

.table_responsive {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
@media (min-width: 1200px) {
  .table_responsive {
    overflow: visible;
  }
}

.table_light {
  width: 100%;
  border-collapse: collapse;
}
.table_light thead tr:first-child {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
  box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
}
.table_light thead tr:last-child th {
  padding-top: 8px;
  padding-bottom: 7px;
}
.table_light tbody {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
  box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
}
.table_light tbody tr:first-child td {
  padding-top: 20px;
}
.table_light tbody tr:first-child td:before {
  margin-top: 0;
}
.table_light tbody tr:first-child td:first-child {
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -ms-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
.table_light tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -ms-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}
.table_light tbody tr:last-child td {
  padding-bottom: 20px;
}
.table_light tbody tr:last-child td:before {
  margin-top: -14px;
}
.table_light tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -ms-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
}
.table_light tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -ms-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
}
.table_light th {
  text-align: left;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 15px 20px;
  position: relative;
}
.table_light th:before {
  top: 50%;
  left: 10px;
  width: 2px;
  height: 14px;
  content: "";
  background: #000;
  position: absolute;
  margin-top: -7px;
}
.table_light th:first-child {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.table_light th:first-child:before {
  display: none;
}
.table_light th:last-child {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.table_light td {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 6px 20px;
  position: relative;
}
.table_light td:before {
  top: 50%;
  left: 10px;
  width: 2px;
  height: 14px;
  content: "";
  background: #000;
  position: absolute;
  margin-top: -7px;
}
.table_light td:first-child:before {
  display: none;
}
@media (min-width: 1550px) {
  .table_light th {
    padding: 15px 30px;
  }
  .table_light th:before {
    left: 20px;
  }
  .table_light td {
    padding: 6px 30px;
  }
  .table_light td:before {
    left: 20px;
  }
}

.table_strip {
  color: #000;
  width: 100%;
  border-collapse: collapse;
}
.table_strip thead tr:first-child {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
  box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
}
.table_strip thead tr:last-child th {
  padding-top: 8px;
  padding-bottom: 7px;
}
.table_strip th {
  text-align: left;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 15px 20px;
  position: relative;
}
.table_strip th:first-child {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.table_strip th:last-child {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.table_strip td {
  z-index: 10;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 14px 20px;
  position: relative;
  border-bottom: 10px solid transparent;
}
.table_strip td:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  background: rgba(13, 96, 165, 0.05);
}
.table_strip td:first-child:before {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.table_strip td:last-child:before {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

.table {
  color: #000;
  width: 100%;
  border-collapse: collapse;
}
.table thead tr:first-child {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
  box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
}
.table thead tr:last-child th {
  padding-top: 8px;
  padding-bottom: 7px;
}
.table th {
  text-align: left;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 15px 20px;
  position: relative;
}
.table th:first-child {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.table th:last-child {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.table td {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 9px 20px;
  position: relative;
}
@media (min-width: 1550px) {
  .table th {
    padding: 15px 30px;
  }
  .table td {
    padding: 9px 30px;
  }
}

.td_long {
  width: 50%;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.pagination > ul {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.pagination > ul > li {
  padding: 0 5px;
}
.pagination > ul > li a {
  color: #000;
  width: 40px;
  height: 30px;
  padding: 5px 5px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #E1E8EF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.pagination > ul > li a:hover {
  color: #000;
  background: #E1E8EF;
  text-decoration: none;
}
.pagination > ul > li span {
  color: #000;
  width: 40px;
  height: 30px;
  padding: 5px 5px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  border: 1px solid #E1E8EF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.pagination > ul > li.active a,
.pagination > ul > li.active span {
  color: #fff;
  background: #0D60A5;
}
.pagination > ul > li.active a:hover,
.pagination > ul > li.active span:hover {
  color: #fff;
  background: #0D60A5;
}
.pagination_arrow {
  color: #000;
  width: 40px;
  height: 30px;
  padding: 5px 5px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #E1E8EF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.pagination_arrow:hover {
  color: #000;
  background: #E1E8EF;
  text-decoration: none;
}
@media (min-width: 992px) {
  .pagination > ul > li {
    padding: 0 8px;
  }
  .pagination > ul > li a {
    width: 60px;
    height: 40px;
    padding: 9px 5px;
    font-size: 1.6rem;
    line-height: 2rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
  .pagination > ul > li span {
    width: 60px;
    height: 40px;
    padding: 9px 5px;
    font-size: 1.6rem;
    line-height: 2rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
  .pagination_arrow {
    width: 60px;
    height: 40px;
    padding: 9px 5px;
    font-size: 2rem;
    line-height: 2rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
}
@media (min-width: 1200px) {
  .pagination > ul > li a {
    width: 70px;
    height: 50px;
    padding: 14px 5px;
    font-size: 1.6rem;
    line-height: 2rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
  .pagination > ul > li span {
    width: 70px;
    height: 50px;
    padding: 14px 5px;
    font-size: 1.6rem;
    line-height: 2rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
  .pagination_arrow {
    width: 70px;
    height: 50px;
    padding: 14px 5px;
    font-size: 2rem;
    line-height: 2rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

.text_strong {
  font-weight: 700 !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.color_purple {
  color: #E7006F !important;
}

.color_blue {
  color: #27B1FF !important;
}

.color_black {
  color: #000 !important;
}

.color_red {
  color: #B1000B !important;
}

.color_dark_blue {
  color: #0D60A5 !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #7C7C7C;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1550px) {
  .container {
    width: 1530px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.1;
}

h1, .h1 {
  color: #000;
  font-weight: 900;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
}
@media (min-width: 992px) {
  h1, .h1 {
    font-size: 4.2rem;
  }
}

h2, .h2 {
  font-size: 2.8rem;
  margin-bottom: 15px;
  font-family: "Roboto", Arial, sans-serif;
}

h3, .h3 {
  color: #000;
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-family: "Roboto", Arial, sans-serif;
}
h3 a, .h3 a {
  color: #000;
  text-decoration: none;
}
h3 a:hover, .h3 a:hover {
  color: #27B1FF;
  text-decoration: none;
}

h4, .h4 {
  font-weight: #000;
  font-size: 1.8rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Roboto", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #27B1FF;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #27B1FF;
  text-decoration: none;
}

.auth {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 55px;
  padding-bottom: 55px;
  background: url("../img/auth__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.auth__logo {
  color: #fff;
  width: 262px;
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
  text-decoration: none;
  margin: 0 auto 40px auto;
}
.auth__logo:hover {
  color: #fff;
  text-decoration: none;
}
.auth__heading {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.auth__heading h1,
.auth__heading .h1 {
  color: #fff;
  font-weight: 700;
}
.auth__heading span {
  display: block;
}
.auth__content {
  margin: 0 auto;
  background: #fff;
  max-width: 732px;
  padding: 40px 20px;
  border: 10px solid #EBF0FF;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
}
.auth__nav {
  font-size: 0;
  line-height: 0;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.auth__nav a {
  width: 120px;
  color: #CCDFFF;
  margin: 0 10px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  padding: 0 0 10px 0;
  display: inline-block;
  text-decoration: none;
  border-bottom: 4px solid #CCDFFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.auth__nav a:hover {
  color: #27B1FF;
  text-decoration: none;
  border-bottom-color: #27B1FF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.auth__nav a.active {
  color: #27B1FF;
  border-bottom-color: #27B1FF;
}
.auth__tab {
  display: none;
}
.auth__tab.active {
  display: block;
}
.auth__apps {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.auth__apps a {
  margin: 0 8px;
  display: inline-block;
}
.auth__type {
  display: none;
}
.auth__type.active {
  display: block;
}
.auth__title {
  color: #0074C7;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
}
.auth__message {
  color: #fff;
  width: 280px;
  height: 280px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  background: #E7006F;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.auth__message_wrap {
  margin: auto 0;
  display: block;
}
.auth__message_info {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
}
.auth__message_title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  text-transform: uppercase;
}
.auth__message_text {
  font-size: 1.6rem;
  line-height: 1.5;
}
.auth__main {
  color: #000;
  margin: 0 auto;
  background: #fff;
  max-width: 1100px;
  padding: 40px 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border: 10px solid #EBF0FF;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
}
.auth__main h2 {
  color: #000;
  margin-bottom: 30px;
}
.auth__main p {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .auth__logo {
    margin-bottom: 80px;
  }
  .auth__heading {
    margin-bottom: 90px;
  }
  .auth__content {
    padding: 50px 80px;
  }
  .auth__nav a {
    width: 200px;
    margin: 0 18px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3rem;
    padding-bottom: 10px;
  }
  .auth__title {
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 40px;
  }
  .auth__message {
    width: 376px;
    height: 376px;
    padding: 15px 35px;
  }
  .auth__message_info {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
  .auth__message_title {
    font-size: 4rem;
    line-height: 5rem;
  }
  .auth__message_text {
    font-size: 2rem;
  }
  .auth__main {
    padding: 80px 50px;
  }
}
@media (min-width: 992px) {
  .auth__content {
    width: 732px;
  }
  .auth__main {
    padding: 80px 80px;
  }
}

.form_box {
  width: 100%;
  margin-bottom: 25px;
  border: 2px solid #EEF2F9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.form_box__icon {
  width: 70px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form_box__icon_wrap {
  margin: auto 0;
}
.form_box__icon i {
  font-style: normal;
  position: relative;
  display: inline-block;
}
.form_box__icon i span {
  top: -2px;
  right: -6px;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  display: inline-block;
}
.form_box__content {
  border-left: 2px solid #EEF2F9;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.form_box__control {
  margin: 0;
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 18px 20px;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.form_box__control::-moz-placeholder {
  color: #A1BBE6;
  opacity: 1;
}
.form_box__control:-ms-input-placeholder {
  color: #A1BBE6;
}
.form_box__control::-webkit-input-placeholder {
  color: #A1BBE6;
}
.form_box__control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_box__control:focus, .form_box__control:active {
  outline: none;
}
.form_box__control:focus::-moz-placeholder, .form_box__control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_box__control:focus:-ms-input-placeholder, .form_box__control:active:-ms-input-placeholder {
  color: transparent;
}
.form_box__control:focus::-webkit-input-placeholder, .form_box__control:active::-webkit-input-placeholder {
  color: transparent;
}
.form_box__label {
  color: #C6C6C6;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 10px 20px;
  line-height: 1.6rem;
  background: #F8FCFF;
  border-bottom: 2px solid #EEF2F9;
  overflow: hidden;
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -ms-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}
.form_box__label strong {
  display: block;
  color: #8893A4;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
}
.form_box__label span {
  display: block;
}
.form_box__check {
  padding-left: 20px;
}
.form_box__wrap {
  margin-left: -72px;
}
.form_box__select {
  color: #A1BBE6;
  cursor: pointer;
  padding-left: 92px;
  padding-right: 45px;
  -webkit-appearance: none;
  background: transparent url("../img/icon__select.png") 100% 50% no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.form_box__select::-ms-expand {
  display: none;
}

textarea.form_box__control {
  height: auto;
  min-height: 80px;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 10px 20px;
  resize: none;
}

.auth_switch {
  width: 100%;
  font-size: 0;
  line-height: 0;
  max-width: 316px;
  position: relative;
  margin: 0 auto 30px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.auth_switch:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  position: absolute;
  display: inline-block;
  border: 3px solid #CCDFFF;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
.auth_switch__item {
  width: 50%;
  z-index: 10;
  font-weight: 500;
  position: relative;
  display: inline-block;
}
.auth_switch__item input {
  display: none;
}
.auth_switch__item span {
  width: 100%;
  height: 52px;
  color: #A6C2EE;
  cursor: pointer;
  padding: 13px 5px;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  text-align: center;
  display: inline-block;
  border: 3px solid transparent;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
.auth_switch__item input:checked + span {
  color: #34CDFA;
  background: #fff;
  border-color: #34CDFA;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 224, 255, 0.33);
  box-shadow: 0px 2px 7px rgba(0, 224, 255, 0.33);
}
@media (min-width: 768px) {
  .auth_switch {
    margin-bottom: 45px;
  }
}

.form_checkbox {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: inline-block;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.2rem;
  position: relative;
  padding-left: 47px;
  display: inline-block;
}
.form_checkbox span:before {
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  display: inline-block;
  border: 2px solid #27B1FF;
}
.form_checkbox span:after {
  top: 0;
  left: 0;
  z-index: 2;
  content: "";
  width: 22px;
  height: 22px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  background: #27B1FF url("../img/icon__check.svg") 50% 50% no-repeat;
}
.form_checkbox input:checked + span:after {
  opacity: 1;
  visibility: visible;
}

.topbar {
  color: #fff;
  display: none;
  font-size: 1.2rem;
  line-height: 2rem;
  background: #7BA6C8;
}
.topbar_client {
  background: #456F91;
}
.topbar__row {
  height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.topbar__name {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-top: 2px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .topbar {
    display: block;
  }
}

.header {
  z-index: 1000;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 5px 58px rgba(13, 96, 165, 0.15);
  box-shadow: 0px 5px 58px rgba(13, 96, 165, 0.15);
}
.header__row {
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__logo {
  color: #000;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.header__logo i {
  width: 180px;
  display: inline-block;
}
.header__logo span {
  font-size: 1.2rem;
  line-height: 1.6rem;
  white-space: nowrap;
  display: block;
}
.header__logo:hover {
  color: #000;
  text-decoration: none;
}
.header__toggle {
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  padding: 5px;
  position: relative;
  display: inline-block;
}
.header__toggle span {
  width: 100%;
  height: 3px;
  background: #0D62A7;
  margin-bottom: 6px;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle span:nth-child(3) {
  margin-bottom: 0;
}
.header__toggle.open span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__toggle.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__toggle.open span:nth-child(3) {
  display: none;
}
.header__nav {
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1100;
  position: fixed;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  margin-left: -300px;
  -webkit-box-shadow: 0px 5px 58px rgba(13, 96, 165, 0.15);
  box-shadow: 0px 5px 58px rgba(13, 96, 165, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav > ul {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}
.header__nav > ul > li {
  position: relative;
}
.header__nav > ul > li > a {
  width: 100%;
  color: #27B1FF;
  padding: 10px 15px;
  font-size: 1.6rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.header__nav > ul > li > a:hover {
  color: #000;
  text-decoration: none;
}
.header__nav > ul > li > a.active {
  color: #000;
}
.header__nav > ul > li.active > a {
  color: #000;
  text-decoration: none;
}
.header__nav.open {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav_rating {
  top: -20px;
  left: 50%;
  margin-left: -46px;
  display: none;
  width: 91px;
  height: 22px;
  color: #000;
  position: absolute;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.6rem;
  background: url("../img/rating__bg.svg") 50% 50% no-repeat;
}
.header__nav_rating strong {
  font-weight: 700;
}
@media (min-width: 992px) {
  .header__row {
    height: 122px;
  }
  .header__logo i {
    width: 270px;
  }
  .header__logo span {
    font-size: 1.8rem;
    line-height: 2.2rem;
    white-space: nowrap;
    display: block;
  }
  .header__toggle {
    display: none;
  }
  .header__nav {
    padding: 0;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
    position: relative;
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .header__nav > ul {
    margin: 0 20px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .header__nav > ul > li {
    margin: 0 5px;
  }
  .header__nav > ul > li > a {
    font-size: 1.8rem;
    padding: 5px 10px;
  }
  .header__nav_rating {
    display: block;
  }
}

.footer {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background: url("../img/footer__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.footer__row {
  padding: 20px 0;
}
.footer__logo {
  width: 270px;
  display: block;
  margin-bottom: 30px;
}
.footer__text {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 30px;
}
.footer__text p {
  margin-bottom: 5px;
}
.footer__text a {
  color: #fff;
  text-decoration: underline;
}
.footer__text a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__store {
  margin: 0 -5px;
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer__store a {
  width: 140px;
  height: 54px;
  margin: 0 5px;
  display: inline-block;
  border: 2px solid #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.66);
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  border-radius: 27px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__store a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__store_app {
  background-image: url("../img/icon__app_store.png");
}
.footer__store_google {
  background-image: url("../img/icon__google_play.png");
}
@media (min-width: 992px) {
  .footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .footer__logo {
    margin: 0 50px 0 0;
  }
  .footer__text {
    padding-right: 20px;
    margin-bottom: 0;
  }
  .footer__store {
    width: 150px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .footer__store a {
    margin: 10px;
  }
}
@media (min-width: 1200px) {
  .footer__logo {
    margin: 0 70px 0 0;
  }
  .footer__store {
    width: 300px;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .footer__store a {
    margin: 0 10px;
  }
}

.bottom_line {
  color: #fff;
  background: #000;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}
.bottom_line__row {
  padding: 5px 0;
}
.bottom_line span {
  display: block;
}
.bottom_line a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.bottom_line a:hover {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .bottom_line {
    text-align: left;
  }
  .bottom_line__row {
    padding: 0;
    height: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}

.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../img/page_bg.png") 50% 100% no-repeat;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (min-width: 1200px) {
  .main__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main__sidebar {
    width: 280px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .main__content {
    width: 860px;
    min-height: 1px;
    padding-left: 30px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1550px) {
  .main__sidebar {
    width: 326px;
  }
  .main__content {
    width: 1174px;
    padding-left: 45px;
  }
}

.heading {
  margin-bottom: 30px;
}
.heading__text {
  color: #8A8A8A;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.heading__text a {
  color: #8A8A8A;
  text-decoration: none;
}
.heading__text a:hover {
  color: #8A8A8A;
  text-decoration: none;
}
.heading__info {
  color: #767676;
  padding-top: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
}
.heading__rating {
  font-size: 1.4rem;
  line-height: 2rem;
  padding-top: 30px;
}
.heading__rating strong {
  color: #000;
  display: block;
  font-weight: 900;
  line-height: 1.1;
  font-size: 3.2rem;
}
@media (min-width: 992px) {
  .heading__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .heading__rating strong {
    font-size: 4.2rem;
  }
}

.content_heading {
  margin-bottom: 20px;
}

.table_sort {
  padding: 10px 20px;
  background: #fff;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 17px 39px rgba(15, 96, 165, 0.15);
  box-shadow: 2px 17px 39px rgba(15, 96, 165, 0.15);
}
.table_sort__item {
  padding: 5px 0;
  margin-right: 7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.table_sort__item a {
  padding: 5px 0;
  color: #27B1FF;
  display: inline-block;
  margin-left: 10px;
  text-decoration: underline;
}
.table_sort__item a:hover {
  color: #27B1FF;
  text-decoration: none;
}
.table_sort__label {
  color: #000;
  padding: 5px 7px 5px 0;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  display: inline-block;
}
.table_sort__input {
  width: 182px;
}
@media (min-width: 1550px) {
  .table_sort {
    padding: 10px 30px;
  }
}

.message {
  color: #000;
  padding: 5px 20px;
  background: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.15);
  box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.15);
}
.message__icon {
  font-weight: 900;
  margin-right: 25px;
  font-size: 6.4rem;
  line-height: 6.4rem;
  display: inline-block;
}
.message__text {
  display: inline-block;
}
@media (min-width: 1200px) {
  .message {
    padding: 5px 30px;
  }
}

.post {
  color: #7C7C7C;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background: #fff;
  padding: 25px 20px;
  margin-bottom: 70px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.16);
  box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.16);
}
.post__image {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.post__intro {
  margin-bottom: 15px;
}
.post__view {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #27B1FF;
  display: inline-block;
  text-decoration: none;
  padding: 15px 45px 15px 0;
  background: url("../img/icon__angle_right.svg") 100% 50% no-repeat;
}
.post__view:hover {
  color: #27B1FF;
  text-decoration: none;
}
.post__view:hover span {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .inline__left {
    width: 245px;
    min-height: 1px;
    text-align: right;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .inline__left .form_label {
    padding-top: 10px;
  }
  .inline__right {
    padding-left: 25px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.main_wrap {
  padding-top: 60px;
  padding-bottom: 40px;
}

.elem {
  max-width: 984px;
  padding: 25px;
  margin: 0 auto;
  background: #fff;
  min-height: 640px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.11);
  box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.11);
}
.elem__barcode {
  padding: 20px;
  max-width: 480px;
  position: relative;
  margin: 0 auto 50px auto;
  border: 1px solid #F2F2F2;
}
.elem__barcode_image {
  max-width: 304px;
  margin: 0 auto;
}
.elem__input {
  max-width: 480px;
  margin: 0 auto 10px auto;
}
.elem__error {
  text-align: center;
  margin-bottom: 10px;
}
.elem__error span {
  color: #fff;
  padding: 2px 5px;
  font-size: 1.4rem;
  line-height: 2em;
  background: #E51547;
  display: inline-block;
}
.elem__help {
  bottom: 0;
  right: -160px;
  color: #000;
  display: none;
  font-size: 1.4rem;
  line-height: 2rem;
  font-style: italic;
  position: absolute;
  padding: 0 0 130px 120px;
  background: url("../img/help_arrow.svg") 0% 100% no-repeat;
}
.elem__ring {
  color: #000;
  width: 280px;
  height: 280px;
  background: #fff;
  text-align: center;
  margin: 0 auto 40px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 19px 17px rgba(0, 170, 27, 0.14);
  box-shadow: 0px 19px 17px rgba(0, 170, 27, 0.14);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.elem__ring_wrap {
  margin: auto 0;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 4rem;
}
.elem__name {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .elem__ring {
    width: 302px;
    height: 302px;
  }
}
@media (min-width: 1200px) {
  .elem__help {
    display: block;
  }
}

.widget {
  background: #fff;
  padding: 20px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px -38px 35px rgba(13, 96, 165, 0.08);
  box-shadow: 0px -38px 35px rgba(13, 96, 165, 0.08);
}
.widget_info {
  color: #000;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.widget_info__heading {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.4rem;
  color: #E7006F;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.widget_info__plus {
  color: #000;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
.widget_info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_balance {
  color: #B2B2B2;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.widget_balance__heading {
  color: #000;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.widget_balance__value {
  color: #000;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.4rem;
  margin-bottom: 10px;
}
.widget_balance__value sup {
  color: #929292;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-left: 4px;
}
@media (min-width: 768px) {
  .widget_info {
    padding-top: 30px;
  }
  .widget_balance {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  .widget {
    padding: 20px 30px;
  }
  .widget_actions {
    padding-left: 7px;
  }
}
@media (min-width: 1200px) {
  .widget_info__heading {
    font-size: 2.4rem;
  }
  .widget_balance__heading {
    font-size: 2.4rem;
  }
}
@media (min-width: 1550px) {
  .widget_balance__value {
    font-size: 3.2rem;
  }
}

.map_search__elem {
  margin-bottom: 15px;
}
.map_search__btn {
  width: 54px;
  height: 56px;
  color: #fff;
  font-size: 0;
  line-height: 0;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  border: 2px solid #C4E0F9;
  border-left: none;
  background: transparent url("../img/icon__search.svg") 50% 50% no-repeat;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.map_search__btn:hover {
  color: #fff;
  text-decoration: none;
}
.map_search__btn:active {
  background: #27B1FF;
}
.map_search__btn:focus, .map_search__btn.focus {
  outline: 0;
}
.map_search__custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.map_search__custom .form_control {
  color: #A1BBE6;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.map_search__custom .form_control::-moz-placeholder {
  color: #A1BBE6;
  opacity: 1;
}
.map_search__custom .form_control:-ms-input-placeholder {
  color: #A1BBE6;
}
.map_search__custom .form_control::-webkit-input-placeholder {
  color: #A1BBE6;
}
.map_search__custom .form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.map_search__custom .form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.map_search__custom .form_control:focus::-webkit-input-placeholder {
  color: transparent;
}
@media (min-width: 768px) {
  .map_search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .map_search__elem {
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .map_search__elem:nth-child(1) .form_control {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
  }
  .map_search__elem:nth-child(2) .form_control {
    border-left: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  .map_search__elem:nth-child(3) {
    padding: 15px 0 10px 20px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.map {
  height: 390px;
}

.white_box {
  background: #fff;
  padding: 25px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 35px rgba(13, 96, 165, 0.08);
  box-shadow: 0px 0px 35px rgba(13, 96, 165, 0.08);
}

.sidenav {
  padding: 15px 0;
  max-width: 326px;
  background: #fff;
  margin-bottom: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 67px -45px 56px rgba(13, 96, 165, 0.07);
  box-shadow: 67px -45px 56px rgba(13, 96, 165, 0.07);
}
.sidenav > ul {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  line-height: 2rem;
  list-style: none;
}
.sidenav > ul > li > a {
  width: 100%;
  color: #009DE0;
  padding: 10px 25px 10px 0;
  display: inline-block;
  text-decoration: underline;
}
.sidenav > ul > li > a:hover {
  color: #000;
  text-decoration: none;
}
.sidenav > ul > li.active > a {
  color: #000;
  text-decoration: none;
}
.sidenav > ul > li.sidenav_exit {
  padding-top: 10px;
}
.sidenav > ul > li.sidenav_exit a {
  color: #727272;
  text-transform: uppercase;
}
.sidenav > ul > li.sidenav_exit a:hover {
  color: #000;
  text-decoration: none;
}

.side_news {
  margin-bottom: 40px;
}
.side_news__heading {
  color: #A8A8A8;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.side_news ul {
  margin: 0;
  list-style: none;
  background: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 25px 25px 25px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 67px -45px 56px rgba(13, 96, 165, 0.07);
  box-shadow: 67px -45px 56px rgba(13, 96, 165, 0.07);
}
.side_news ul li {
  margin-bottom: 10px;
}
.side_news ul li a {
  color: #27B1FF;
  text-decoration: underline;
}
.side_news ul li a:hover {
  color: #27B1FF;
  text-decoration: none;
}
.side_news ul li span {
  color: #747474;
}

/*# sourceMappingURL=main.css.map */
