.auth {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	padding-top: 55px;
	padding-bottom: 55px;
	background: url("../img/auth__bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	@include flexbox();
	@include flex-direction(column);

	&__logo {
		color: #fff;
		width: 262px;
		display: block;
		font-size: 1.6rem;
		line-height: 2rem;
		text-decoration: none;
		margin: 0 auto 40px auto;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__heading {
		color: #fff;
		font-weight: 300;
		font-size: 2rem;
		text-align: center;
		line-height: 2.5rem;
		margin-bottom: 50px;
		text-transform: uppercase;

		h1,
		.h1 {
			color: #fff;
			font-weight: 700;
		}

		span {
			display: block;
		}
	}

	&__content {
		margin: 0 auto;
		background: #fff;
		max-width: 732px;
		padding: 40px 20px;
		border: 10px solid #EBF0FF;
		@include border-radius(18px);
	}

	&__nav {
		font-size: 0;
		line-height: 0;
		margin-bottom: 50px;
		@include flexbox();
		@include justify-content(center);

		a {
			width: 120px;
			color: #CCDFFF;
			margin: 0 10px;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 2rem;
			text-align: center;
			padding: 0 0 10px 0;
			display: inline-block;
			text-decoration: none;
			border-bottom: 4px solid #CCDFFF;
			@include transition(.3s);

			&:hover {
				color: $color-blue;
				text-decoration: none;
				border-bottom-color: $color-blue;
				@include transition(.3s);
			}

			&.active {
				color: $color-blue;
				border-bottom-color: $color-blue;
			}
		}
	}

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}

	&__apps {
		font-size: 0;
		line-height: 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		a {
			margin: 0 8px;
			display: inline-block;
		}
	}

	&__type {
		display: none;

		&.active {
			display: block;
		}
	}

	&__title {
		color: #0074C7;
		font-weight: 900;
		font-size: 2.2rem;
		line-height: 2.4rem;
		text-align: center;
		margin-bottom: 30px;
	}

	&__message {
		color: #fff;
		width: 280px;
		height: 280px;
		padding: 15px;
		margin: 0 auto;
		text-align: center;
		background: $color-purple;
		@include border-radius(50%);
		@include flexbox();
		@include flex-direction(column);

		&_wrap {
			margin: auto 0;
			display: block;
		}

		&_info {
			font-size: 2rem;
			font-weight: 700;
			line-height: 2.6rem;
		}

		&_title {
			font-weight: 700;
			font-size: 3rem;
			line-height: 3.6rem;
			text-transform: uppercase;
		}

		&_text {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	}

	&__main {
		color: #000;
		margin: 0 auto;
		background: #fff;
		max-width: 1100px;
		padding: 40px 20px;
		font-size: 1.4rem;
		line-height: 1.8rem;
		border: 10px solid #EBF0FF;
		@include border-radius(18px);

		h2 {
			color: #000;
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 15px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__logo {
			margin-bottom: 80px;
		}

		&__heading {
			margin-bottom: 90px;
		}

		&__content {
			padding: 50px 80px;
		}

		&__nav {

			a {
				width: 200px;
				margin: 0 18px;
				font-size: 3rem;
				font-weight: 900;
				line-height: 3rem;
				padding-bottom: 10px;
			}
		}

		&__title {
			font-size: 3rem;
			line-height: 3.2rem;
			margin-bottom: 40px;
		}

		&__message {
			width: 376px;
			height: 376px;
			padding: 15px 35px;

			&_info {
				font-size: 2.6rem;
				line-height: 3.2rem;
			}

			&_title {
				font-size: 4rem;
				line-height: 5rem;
			}

			&_text {
				font-size: 2rem;
			}
		}

		&__main {
			padding: 80px 50px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__content {
			width: 732px;
		}

		&__main {
			padding: 80px 80px;
		}
	}
}

.form_box {
	width: 100%;
	margin-bottom: 25px;
	border: 2px solid #EEF2F9;
	@include flexbox();
	@include border-radius(10px);

	&__icon {
		width: 70px;
		font-size: 0;
		line-height: 0;
		text-align: center;
		@include flexbox();
		@include flex-shrink(0);
		@include flex-direction(column);

		&_wrap {
			margin: auto 0;
		}

		i {
			font-style: normal;
			position: relative;
			display: inline-block;

			span {
				top: -2px;
				right: -6px;
				font-size: 18px;
				line-height: 18px;
				position: absolute;
				display: inline-block;
			}
		}
	}

	&__content {
		border-left: 2px solid #EEF2F9;
		@include flex-grow(1);
	}

	&__control {
		margin: 0;
		width: 100%;
		height: 56px;
		border: none;
		outline: none;
		color: #000;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 18px 20px;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		@include border-radius(0 10px 10px 0);
		@include placeholder(#A1BBE6);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			@include placeholder(transparent);
		}
	}

	&__label {
		color: #C6C6C6;
		font-weight: 400;
		font-size: 1.6rem;
		padding: 10px 20px;
		line-height: 1.6rem;
		background: #F8FCFF;
		border-bottom: 2px solid #EEF2F9;
		overflow: hidden;
		@include border-radius(0 10px 0 0);

		strong {
			display: block;
			color: #8893A4;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 2rem;
		}

		span {
			display: block;
		}
	}

	&__check {
		padding-left: 20px;
	}

	&__wrap {
		margin-left: -72px;
	}

	&__select {
		color: #A1BBE6;
		cursor: pointer;
		padding-left: 92px;
		padding-right: 45px;
		-webkit-appearance : none;
		background: transparent url("../img/icon__select.png") 100% 50% no-repeat;
		/* for FF */
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		/* for IE */
		-ms-appearance: none;
		appearance: none !important;

		&::-ms-expand {
			display: none;
		}
	}
}


textarea.form_box__control {
	height: auto;
	min-height: 80px;
	font-size: 1.4rem;
	font-weight: 400;
	padding: 10px 20px;
	resize: none;
}

.auth_switch {
	width: 100%;
	font-size: 0;
	line-height: 0;
	max-width: 316px;
	position: relative;
	margin: 0 auto 30px auto;
	@include flexbox();
	@include align-items(center);

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		position: absolute;
		display: inline-block;
		border: 3px solid #CCDFFF;
		@include border-radius(26px);
	}

	&__item {
		width: 50%;
		z-index: 10;
		font-weight: 500;
		position: relative;
		display: inline-block;

		input {
			display: none;
		}

		span {
			width: 100%;
			height: 52px;
			color: #A6C2EE;
			cursor: pointer;
			padding: 13px 5px;
			font-size: 1.6rem;
			line-height: 2rem;
			position: relative;
			text-align: center;
			display: inline-block;
			border: 3px solid transparent;
			@include border-radius(26px);
		}

		input:checked + span {
			color: #34CDFA;
			background: #fff;
			border-color: #34CDFA;
			@include box-shadow(0px 2px 7px rgba(0, 224, 255, 0.33));
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 45px;
	}
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		font-size: 1.6rem;
		line-height: 2.2rem;
		position: relative;
		padding-left: 47px;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 22px;
			height: 22px;
			position: absolute;
			display: inline-block;
			border: 2px solid $color-blue;
		}

		&:after {
			top: 0;
			left: 0;
			z-index: 2;
			content: '';
			width: 22px;
			height: 22px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: $color-blue url("../img/icon__check.svg") 50% 50% no-repeat;
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}