.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

}


.main {
	padding-top: 60px;
	padding-bottom: 60px;
	background: url("../img/page_bg.png") 50% 100% no-repeat;
	@include flex-grow(1);

	&__sidebar {

	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
		}

		&__sidebar {
			width: 280px;
			@include flex-shrink(0);
		}


		&__content {
			width: 860px;
			min-height: 1px;
			padding-left: 30px;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__sidebar {
			width: 326px;
		}

		&__content {
			width: 1174px;
			padding-left: 45px;
		}
	}
}


.heading {
	margin-bottom: 30px;

	&__text {
		color: #8A8A8A;
		font-size: 1.4rem;
		line-height: 1.6rem;

		a {
			color: #8A8A8A;
			text-decoration: none;

			&:hover {
				color: #8A8A8A;
				text-decoration: none;
			}

		}
	}

	h1 {

	}

	&__info {
		color: #767676;
		padding-top: 10px;
		font-size: 1.4rem;
		line-height: 2rem;
	}

	&__rating {
		font-size: 1.4rem;
		line-height: 2rem;
		padding-top: 30px;

		strong {
			color: #000;
			display: block;
			font-weight: 900;
			line-height: 1.1;
			font-size: 3.2rem;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__rating {

			strong {
				font-size: 4.2rem;
			}
		}
	}
}

.content_heading {
	margin-bottom: 20px;
}

.table_sort {
	padding: 10px 20px;
	background: #fff;
	font-size: 1.4rem;
	line-height: 2.2rem;
	margin: 0 0 15px 0;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include border-radius(10px);
	@include box-shadow(2px 17px 39px rgba(15, 96, 165, 0.15));

	&__item {
		padding: 5px 0;
		margin-right: 7px;
		@include flexbox();
		@include align-items(center);

		a {
			padding: 5px 0;
			color: $color-blue;
			display: inline-block;
			margin-left: 10px;
			text-decoration: underline;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}

	&__label {
		color: #000;
		padding: 5px 7px 5px 0;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		display: inline-block;
	}

	&__input {
		width: 182px;
	}

	@media (min-width: $screen-xl-min) {
		padding: 10px 30px;
	}
}

.message {
	color: #000;
	padding: 5px 20px;
	background: #fff;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 5px;
	@include flexbox();
	@include border-radius(10px);
	@include align-items(center);
	@include box-shadow(0px 17px 39px rgba(13, 96, 165, 0.15));

	&__icon {
		font-weight: 900;
		margin-right: 25px;
		font-size: 6.4rem;
		line-height: 6.4rem;
		display: inline-block;
	}

	&__text {
		display: inline-block;
	}

	@media (min-width: $screen-lg-min) {
		padding: 5px 30px;
	}
}

.post {
	color: #7C7C7C;
	font-size: 1.6rem;
	line-height: 2.2rem;
	background: #fff;
	padding: 25px 20px;
	margin-bottom: 70px;
	@include border-radius(10px);
	@include box-shadow(0px 17px 39px rgba(13, 96, 165, 0.16));

	&__image {
		display: block;
		overflow: hidden;
		margin-bottom: 20px;
		@include border-radius(10px);
	}


	&__intro {
		margin-bottom: 15px;
	}



	&__view {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		color: $color-blue;
		display: inline-block;
		text-decoration: none;
		padding: 15px 45px 15px 0;
		background: url("../img/icon__angle_right.svg") 100% 50% no-repeat;

		&:hover {
			color: $color-blue;
			text-decoration: none;

			span {
				text-decoration: underline;
			}
		}
	}
}

.inline {

	&__left {

	}

	&__right {

	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();

		&__left {
			width: 245px;
			min-height: 1px;
			text-align: right;
			@include flex-shrink(0);

			.form_label {
				padding-top: 10px;
			}
		}

		&__right {
			padding-left: 25px;
			@include flex-grow(1);
		}
	}
}

.main_wrap {
	padding-top: 60px;
	padding-bottom: 40px;
}

.elem {
	max-width: 984px;
	padding: 25px;
	margin: 0 auto;
	background: #fff;
	min-height: 640px;
	text-align: center;
	position: relative;
	@include border-radius(24px);
	@include box-shadow(0px 17px 39px rgba(13, 96, 165, 0.11));

	&__barcode {
		padding: 20px;
		max-width: 480px;
		position: relative;
		margin: 0 auto 50px auto;
		border: 1px solid #F2F2F2;

		&_image {
			max-width: 304px;
			margin: 0 auto;
		}
	}

	&__input {
		max-width: 480px;
		margin: 0 auto 10px auto;
	}

	&__error {
		text-align: center;
		margin-bottom: 10px;

		span {
			color: #fff;
			padding: 2px 5px;
			font-size: 1.4rem;
			line-height: 2em;
			background: #E51547;
			display: inline-block;
		}
	}

	&__help {
		bottom: 0;
		right: -160px;
		color: #000;
		display: none;
		font-size: 1.4rem;
		line-height: 2rem;
		font-style: italic;
		position: absolute;
		padding: 0 0 130px 120px;
		background: url("../img/help_arrow.svg") 0% 100% no-repeat;
	}

	&__ring {
		color: #000;
		width: 280px;
		height: 280px;
		background: #fff;
		text-align: center;
		margin: 0 auto 40px auto;
		@include border-radius(50%);
		@include box-shadow(0px 19px 17px rgba(0, 170, 27, 0.14));
		@include flexbox();
		@include flex-direction(column);

		&_wrap {
			margin: auto 0;
			font-weight: 900;
			font-size: 2.4rem;
			line-height: 4rem;
		}
	}

	&__name {
		text-align: center;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {

		&__ring {
			width: 302px;
			height: 302px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__help {
			display: block;
		}
	}
}

.widget {
	background: #fff;
	padding: 20px 20px;
	@include border-radius(10px);
	@include box-shadow(0px -38px 35px rgba(13, 96, 165, 0.08));

	&_info {
		color: #000;
		font-size: 1.4rem;
		line-height: 2.2rem;

		&__heading {
			font-size: 2rem;
			font-weight: 900;
			line-height: 2.4rem;
			color: $color-purple;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		&__plus {
			color: #000;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 10px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

			}
		}
	}

	&_balance {
		color: #B2B2B2;
		font-size: 1.3rem;
		line-height: 1.6rem;

		&__heading {
			color: #000;
			font-size: 2rem;
			font-weight: 900;
			line-height: 2.4rem;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&__value {
			color: #000;
			font-weight: 700;
			font-size: 2.6rem;
			line-height: 3.4rem;
			margin-bottom: 10px;

			sup {
				color: #929292;
				font-weight: 400;
				font-size: 1.6rem;
				line-height: 1.6rem;
				margin-left: 4px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&_info {
			padding-top: 30px;
		}

		&_balance {
			padding-top: 30px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 20px 30px;

		&_actions {
			padding-left: 7px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&_info {

			&__heading {
				font-size: 2.4rem;
			}
		}

		&_balance {

			&__heading {
				font-size: 2.4rem;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&_balance {

			&__value {
				font-size: 3.2rem;
			}
		}
	}
}


.map_search {

	&__elem {
		margin-bottom: 15px;
	}

	&__btn {
		width: 54px;
		height: 56px;
		color: #fff;
		font-size: 0;
		line-height:0;
		outline: none;
		cursor: pointer;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		position: relative;
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		border: 2px solid #C4E0F9;
		border-left: none;
		background: transparent url("../img/icon__search.svg") 50% 50% no-repeat;
		@include border-radius(0 3px 3px 0);
		@include flex-shrink(0);

		&:hover {
			color: #fff;
			text-decoration: none;
		}

		&:active {
			background: $color-blue;
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}

	&__custom {
		@include flexbox();

		.form_control {
			color: #A1BBE6;
			@include placeholder(#A1BBE6);
			@include border-radius(3px 0 0 3px);

			&:focus {
				@include placeholder(transparent);
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		@include flexbox();

		&__elem {
			margin-bottom: 0;
			@include flex-grow(1);

			&:nth-child(1) {

				.form_control {
					@include border-radius(3px 0 0 3px);
				}
			}

			&:nth-child(2) {

				.form_control {
					border-left: none;
					@include border-radius(0);
				}
			}

			&:nth-child(3) {
				padding: 15px 0 10px 20px;
				@include flex-shrink(0);
			}
		}
	}
}

.map {
	height: 390px;
}

.white_box {
	background: #fff;
	padding: 25px 20px;
	@include border-radius(10px);
	@include box-shadow(0px 0px 35px rgba(13, 96, 165, 0.08));
}

@media (min-width: $screen-lg-min) {
}


@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}