.footer {
	color: #fff;
	font-size: 1.6rem;
	line-height: 2.2rem;
	background: url("../img/footer__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__row {
		padding: 20px 0;
	}

	&__logo {
		width: 270px;
		display: block;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 1.5rem;
		line-height: 2.2rem;
		margin-bottom: 30px;

		p {
			margin-bottom: 5px;
		}

		a {
			color: #fff;
			text-decoration: underline;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&__store {
		margin: 0 -5px;
		font-size: 0;
		line-height: 0;
		@include flexbox();

		a {
			width: 140px;
			height: 54px;
			margin: 0 5px;
			display: inline-block;
			border: 2px solid #fff;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-color: rgba(255, 255, 255, 0.66);
			@include border-radius(27px);
			@include transition(.3s);

			&:hover {
				background-color: rgba(255, 255, 255, 0.90);
				@include transition(.3s);
			}
		}

		&_app {
			background-image: url("../img/icon__app_store.png");
		}

		&_google {
			background-image: url("../img/icon__google_play.png");
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__content {
			@include flexbox();
			@include align-items(center);
		}

		&__logo {
			margin: 0 50px 0 0;
		}

		&__text {
			padding-right: 20px;
			margin-bottom: 0;
		}

		&__store {
			width: 150px;
			@include flex-wrap(wrap);
			@include flex-shrink(0);

			a {
				margin: 10px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__logo {
			margin: 0 70px 0 0;
		}

		&__store {
			width: 300px;
			@include flex-wrap(nowrap);

			a {
				margin: 0 10px;
			}
		}
	}
}

.bottom_line {
	color: #fff;
	background: #000;
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: center;

	&__row {
		padding: 5px 0;
	}

	span {
		display: block;
	}

	a {
		color: #fff;
		text-decoration: none;
		display: inline-block;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		text-align: left;

		&__row {
			padding: 0;
			height: 28px;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
	}
}