

.sidenav {
	padding: 15px 0;
	max-width: 326px;
	background: #fff;
	margin-bottom: 40px;
	@include border-radius(10px);
	@include box-shadow(67px -45px 56px rgba(13, 96, 165, 0.07));

	> ul {
		margin: 0;
		padding: 0;
		font-size: 1.8rem;
		line-height: 2rem;
		list-style: none;

		> li {

			> a {
				width: 100%;
				color: #009DE0;
				padding: 10px 25px 10px 0;
				display: inline-block;
				text-decoration: underline;

				&:hover {
					color: #000;
					text-decoration: none;
				}
			}

			&.active {

				> a {
					color: #000;
					text-decoration: none;
				}
			}

			&.sidenav_exit {
				padding-top: 10px;

				a {
					color: #727272;
					text-transform: uppercase;

					&:hover {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.side_news {
	margin-bottom: 40px;

	&__heading {
		color: #A8A8A8;
		font-weight: 300;
		font-size: 2.4rem;
		line-height: 3rem;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	ul {
		margin: 0;
		list-style: none;
		background: #fff;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 25px 25px 25px 0;
		@include border-radius(10px);
		@include box-shadow(67px -45px 56px rgba(13, 96, 165, 0.07));

		li {
			margin-bottom: 10px;

			a {
				color: $color-blue;
				text-decoration: underline;

				&:hover {
					color: $color-blue;
					text-decoration: none;
				}
			}

			span {
				color: #747474;
			}
		}
	}
}