.topbar {
	color: #fff;
	display: none;
	font-size: 1.2rem;
	line-height: 2rem;
	background: #7BA6C8;

	&_client {
		background: #456F91;
	}

	&__row {
		height: 22px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__name {
		font-weight: 900;
		font-size: 1.4rem;
		line-height: 2rem;
		padding-top: 2px;
		text-transform: uppercase;
	}

	&__text {

	}

	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

.header {
	z-index: 1000;
	background: #fff;
	position: relative;
	@include box-shadow(0px 5px 58px rgba(13, 96, 165, 0.15));

	&__row {
		padding: 15px 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__logo {
		color: #000;
		font-size: 0;
		line-height: 0;
		text-align: center;
		text-decoration: none;
		display: inline-block;

		i {
			width: 180px;
			display: inline-block;
		}

		span {
			font-size: 1.2rem;
			line-height: 1.6rem;
			white-space: nowrap;
			display: block;
		}

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	&__toggle {
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		padding: 5px;
		position: relative;
		display: inline-block;

		span {
			width: 100%;
			height: 3px;
			background: #0D62A7;
			margin-bottom: 6px;
			position: relative;
			display: inline-block;
			@include transition(.3s);

			&:nth-child(3) {
				margin-bottom: 0;
			}
		}

		&.open {

			span {
				@include transition(.3s);

				&:nth-child(1) {
					top: 9px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					@include rotate(-45deg);
				}

				&:nth-child(3) {
					display: none;
				}
			}
		}
	}

	&__nav {
		top: 0;
		left: 0;
		padding: 20px;
		z-index: 1100;
		position: fixed;
		width: 280px;
		height: 100vh;
		overflow-y: auto;
		background: #fff;
		margin-left: -300px;
		@include box-shadow(0px 5px 58px rgba(13, 96, 165, 0.15));
		@include transition(.3s);

		> ul {
			margin: 0 0 20px 0;
			padding: 0;
			list-style: none;

			> li {
				position: relative;

				> a {
					width: 100%;
					color: #27B1FF;
					padding: 10px 15px;
					font-size: 1.6rem;
					line-height: 2rem;
					display: inline-block;
					text-decoration: none;

					&:hover {
						color: #000;
						text-decoration: none;
					}

					&.active {
						color: #000;
					}
				}

				&.active {

					> a {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}

		&.open {
			margin-left: 0;
			@include transition(.3s);
		}

		&_rating {
			top: -20px;
			left: 50%;
			margin-left: -46px;
			display: none;
			width: 91px;
			height: 22px;
			color: #000;
			position: absolute;
			font-weight: 300;
			font-size: 1.1rem;
			text-align: center;
			line-height: 1.6rem;
			background: url("../img/rating__bg.svg") 50% 50% no-repeat;

			strong {
				font-weight: 700;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			height: 122px;
		}

		&__logo {

			i {
				width: 270px;
			}

			span {
				font-size: 1.8rem;
				line-height: 2.2rem;
				white-space: nowrap;
				display: block;
			}
		}

		&__toggle {
			display: none;
		}

		&__nav {
			padding: 0;
			top: auto;
			left: auto;
			width: auto;
			height: auto;
			overflow: visible;
			position: relative;
			background: transparent;
			@include flexbox();
			@include box-shadow(none);
			@include align-items(center);

			> ul {
				margin: 0 20px 0 0;
				@include flexbox();
				@include align-items(center);

				> li {
					margin: 0 5px;

					> a {
						font-size: 1.8rem;
						padding: 5px 10px;
					}
				}
			}

			&_rating {
				display: block;
			}

		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}