
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 16px 30px 18px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: $color-blue;
	@include border-radius(27px);

	&:hover {
		color: #fff;
		background: #0060aa;
		text-decoration: none;
	}

	&:active {
		background: $color-blue;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_shadow {
	@include box-shadow(0px 18px 27px rgba(13, 96, 165, 0.25));
}

.btn_light_blue {
	background: #34CDFA;
	@include box-shadow(0px 36px 115px rgba(26, 128, 189, 0.4));

	&:hover {
		background: $color-blue;
	}
}


.btn_border {
	color: $color-blue;
	background: transparent;
	padding: 15px 30px 17px 30px;
	border: 1px solid $color-blue;

	&:hover {
		color: #fff;
		background: $color-blue;

		i {
			fill: #fff;
		}
	}

	i {
		fill: $color-blue;
	}
}

.btn_pdf {
	font-weight: 500;
	padding-right: 70px;
	text-transform: uppercase;

	i {
		top: 50%;
		right: 19px;
		width: 32px;
		height: 32px;
		margin-top: -16px;
		display: inline-block;
		position: absolute;
	}
}

.btn_lg {
	max-width: 480px;


	@media (min-width: $screen-sm-min) {
		width: 480px;
	}
}

.btn_long {
	width: 100%;
	padding: 24px 30px 26px 30px;
	@include border-radius(35px);
}
