.form_control {
	margin: 0;
	width: 100%;
	height: 42px;
	outline: none;
	color: #9E9E9E;
	background: #fff;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 9px 15px;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #C4E0F9;
	@include border-radius(3px);
	@include placeholder(#9E9E9E);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

	&_blue {
		background: #EFF7FF;
	}

	&_sm {
		color: #000;
		padding: 8px 10px;
		border: 1px solid #DFE6EE;
		@include placeholder(#000);

		&:focus,
		&:active {
			@include placeholder(transparent);
		}
	}

	&_lg {
		height: 56px;
		padding: 16px 15px;
	}
}

textarea.form_control {
	height: auto;
}

.form_label {
	color: #000;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 5px;
	display: inline-block;
	text-transform: uppercase;
}

.form_select {
	color: #A1BBE6;
	cursor: pointer;
	padding-right: 45px;
	-webkit-appearance : none;
	background: transparent url("../img/icon__select_two.png") 100% 50% no-repeat;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;

	&::-ms-expand {
		display: none;
	}
}

.input_wrap {
	max-width: 480px;
}

.form_divider {
	padding-top: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CDEDFF;
}
