.table_responsive {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;

	@media (min-width: $screen-lg-min) {
		overflow: visible;
	}
}


.table_light {
	width: 100%;
	border-collapse: collapse;

	thead {

		tr {

			&:first-child {
				background: #fff;
				@include border-radius(10px);
				@include box-shadow(0px 17px 39px rgba(13, 96, 165, 0.14));
			}

			&:last-child {

				th {
					padding-top: 8px;
					padding-bottom: 7px;
				}
			}
		}
	}

	tbody {
		background: #fff;
		@include border-radius(10px);
		@include box-shadow(0px 17px 39px rgba(13, 96, 165, 0.14));

		tr {

			&:first-child {

				td {
					padding-top: 20px;

					&:before {
						margin-top: 0;
					}

					&:first-child {
						@include border-radius(10px 0 0 0);
					}

					&:last-child {
						@include border-radius(0 10px 0 0);
					}
				}
			}

			&:last-child {

				td {
					padding-bottom: 20px;

					&:before {
						margin-top: -14px;
					}

					&:first-child {
						@include border-radius(0 0 0 10px);
					}

					&:last-child {
						@include border-radius(0 0 10px 0);
					}
				}
			}
		}
	}

	th {
		text-align: left;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 15px 20px;
		position: relative;

		&:before {
			top: 50%;
			left: 10px;
			width: 2px;
			height: 14px;
			content: '';
			background: #000;
			position: absolute;
			margin-top: -7px;
		}

		&:first-child {
			@include border-radius(10px 0 0 10px);

			&:before {
				display: none;
			}
		}

		&:last-child {
			@include border-radius(0 10px 10px 0);
		}
	}

	td {
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 6px 20px;
		position: relative;

		&:before {
			top: 50%;
			left: 10px;
			width: 2px;
			height: 14px;
			content: '';
			background: #000;
			position: absolute;
			margin-top: -7px;
		}

		&:first-child {

			&:before {
				display: none;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		th {
			padding: 15px 30px;

			&:before {
				left: 20px;
			}
		}

		td {
			padding: 6px 30px;

			&:before {
				left: 20px;
			}
		}
	}
}

.table_strip {
	color: #000;
	width: 100%;
	border-collapse: collapse;

	thead {

		tr {

			&:first-child {
				background: #fff;
				@include border-radius(10px);
				@include box-shadow(0px 17px 39px rgba(13, 96, 165, 0.14));
			}

			&:last-child {

				th {
					padding-top: 8px;
					padding-bottom: 7px;
				}
			}
		}
	}

	th {
		text-align: left;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 15px 20px;
		position: relative;

		&:first-child {
			@include border-radius(10px 0 0 10px);
		}

		&:last-child {
			@include border-radius(0 10px 10px 0);
		}
	}

	td {
		z-index: 10;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 14px 20px;
		position: relative;
		border-bottom: 10px solid transparent;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: -1;
			display: block;
			position: absolute;
			background: rgba(13, 96, 165, 0.05);
		}

		&:first-child {

			&:before {
				@include border-radius(10px 0 0 10px);
			}
		}

		&:last-child {

			&:before {
				@include border-radius(0 10px 10px 0);
			}
		}
	}
}

.table {
	color: #000;
	width: 100%;
	border-collapse: collapse;

	thead {

		tr {

			&:first-child {
				background: #fff;
				@include border-radius(10px);
				@include box-shadow(0px 17px 39px rgba(13, 96, 165, 0.14));
			}

			&:last-child {

				th {
					padding-top: 8px;
					padding-bottom: 7px;
				}
			}
		}
	}

	th {
		text-align: left;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 15px 20px;
		position: relative;

		&:first-child {
			@include border-radius(10px 0 0 10px);
		}

		&:last-child {
			@include border-radius(0 10px 10px 0);
		}
	}

	td {
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 9px 20px;
		position: relative;
	}

	@media (min-width: $screen-xl-min) {

		th {
			padding: 15px 30px;
		}

		td {
			padding: 9px 30px;
		}
	}
}

.td_long {
	width: 50%;
}